@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

button,
a {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  --color-normal: #bdbdbd;
  --color-highlight: #fefefe;
  --color-shadow: #7f7f7f;

  --color-danger: #f30107;
  --color-warning: #fdcd02;

  --color-sign-1: #0000ff;
  --color-sign-2: #017b01;
  --color-sign-3: #ff0000;
  --color-sign-4: #00007b;
  --color-sign-5: #800e0e;
  --color-sign-6: #007b7b;
  --color-sign-7: #0b0a08;
  --color-sign-8: #7b7b7b;

  --color-header: #000366;
  --color-header-text: #fefefe;

  --border-size-block: 0.2rem;
  --border-size-block-lesser: 0.15rem;
  --border-size-block-greater: 0.25rem;

  --tile-size: 1.5rem;
  --status-tile-size: 2.5rem;

  --submit-width: 6rem;
  --submit-margin: 2.5rem 0.5rem 0.5rem 0.5rem;

  --game-font-family: "Fira Code", monospace;

  --font-size-tile: 1.2rem;
  --font-size-flag: 0.9rem;
  --font-size-home: 1.5rem;
  --font-size-header-button: 0.6rem;

  --padding: 0.3rem;
  --padding-lesser: 0.1rem;
  --padding-greater: 0.5rem;

  --header-size: 1.7rem;
  --header-button-margin: 0.2rem;
  --header-button-size: calc(
    var(--header-size) - var(--header-button-margin) * 2
  );

  font-family: sans-serif;
  background: var(--color-normal);
  margin: 0;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.block-out {
  box-sizing: border-box;
  background-color: var(--color-normal);
  border-top: var(--border-size-block) solid var(--color-highlight);
  border-left: var(--border-size-block) solid var(--color-highlight);
  border-bottom: var(--border-size-block) solid var(--color-shadow);
  border-right: var(--border-size-block) solid var(--color-shadow);
}

.block-in {
  background-color: var(--color-normal);
  border-top: var(--border-size-block) solid var(--color-shadow);
  border-left: var(--border-size-block) solid var(--color-shadow);
  border-bottom: var(--border-size-block) solid var(--color-highlight);
  border-right: var(--border-size-block) solid var(--color-highlight);
}

.block-in-more {
  background-color: var(--color-normal);
  border-top: var(--border-size-block-greater) solid var(--color-shadow);
  border-left: var(--border-size-block-greater) solid var(--color-shadow);
  border-bottom: var(--border-size-block-greater) solid var(--color-highlight);
  border-right: var(--border-size-block-greater) solid var(--color-highlight);
}

.block-button {
  cursor: pointer;
}

.block-button:active {
  transform: translate(0, 1px);
}

.block-flush {
  box-sizing: border-box;
  background-color: var(--color-normal);
  border-top: var(--border-size-block-lesser) solid var(--color-shadow);
  border-left: var(--border-size-block-lesser) solid var(--color-shadow);
  border-bottom: none;
  border-right: none;
}

.window {
  display: inline-grid;
  padding: var(--padding-lesser);
  background: var(--color-normal);
  box-shadow: var(--padding-lesser) var(--padding-lesser) #000;
}

.header {
  height: var(--header-size);
  font-weight: bold;
  color: var(--color-header-text);
  background: var(--color-header);
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

.header button,
.header a {
  height: var(--header-button-size);
  width: var(--header-button-size);
  margin: var(--header-button-margin);
}

.menubar {
  display: flex;
  align-items: center;
  gap: calc(var(--padding-greater) * 2);
  padding: var(--padding);
}

.overlay {
  position: relative;
}

.overlay > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.overlay > *:first-child {
  position: initial;
  top: initial;
  left: initial;
  width: initial;
  height: initial;
}

.records > .record {
  display: grid;
  grid-template-columns: var(--submit-width) auto;
  margin-bottom: var(--padding-greater);
}

.settings,
.records {
  box-sizing: border-box;
  background: var(--color-normal);
  padding: var(--padding-greater);
}

.disabled label,
label.disabled {
  color: #888;
}

.settings label {
  display: inline-block;
  padding-top: var(--padding-lesser);
  padding-bottom: var(--padding-lesser);
}

.settings > div {
  margin-bottom: var(--padding-greater);
}

.submit {
  margin: var(--submit-margin);
  display: flex;
  gap: var(--padding);
  align-items: center;
  justify-content: end;
}

.submit > * {
  padding: var(--padding-lesser);
  width: var(--submit-width);
}

.logo {
  background-image: url("./assets/logo.svg");
  background-size: 100%;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close::before {
  font-size: var(--font-size-header-button);
  content: "╳";
}

.game {
  box-sizing: border-box;
  display: inline-grid;
  grid-gap: var(--padding-greater);
  padding: var(--padding-greater);
  font-family: var(--game-font-family);
}

.home::before {
  font-size: var(--font-size-home);
  content: "🙂";
}

.game:active .home::before {
  content: "😮";
}

.won .home::before {
  content: "😎" !important;
}

.record .home::before {
  content: "🤩" !important;
}

.lost .home::before {
  content: "😵" !important;
}

.status {
  --tile-size: var(--status-tile-size);
  display: flex;
  justify-content: space-between;
  padding: var(--padding-greater);
}

.status > * {
  padding: var(--padding);
  margin: var(--padding);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: end;
  background: #000;
  color: var(--color-danger);
  padding: var(--padding);
}

.field {
  background-color: var(--color-shadow);
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.tile {
  font-weight: bold;
  font-size: var(--font-size-tile);
  width: var(--tile-size);
  height: var(--tile-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mine {
  background-image: url("./assets/mine.svg");
  background-size: 100%;
}

.flag::before {
  font-size: var(--font-size-flag);
  content: "🚩";
}

.flag-wrong::before {
  font-size: var(--font-size-flag);
  content: "✖️";
}

.bg-danger {
  background-color: var(--color-danger);
}

.sign-1 {
  color: var(--color-sign-1);
}

.sign-2 {
  color: var(--color-sign-2);
}

.sign-3 {
  color: var(--color-sign-3);
}

.sign-4 {
  color: var(--color-sign-4);
}

.sign-5 {
  color: var(--color-sign-5);
}

.sign-6 {
  color: var(--color-sign-6);
}

.sign-7 {
  color: var(--color-sign-7);
}

.sign-8 {
  color: var(--color-sign-8);
}
